REACT_APP_AWS_ACCESS_KEY_ID=''
REACT_APP_AWS_SECRET_ACCESS_KEY=''
REACT_APP_AWS_REGION=''
REACT_APP_LEX_BOT_ID=''
REACT_APP_LEX_BOT_ALIAS_ID=''
REACT_APP_LEX_LOCALE_ID=''
REACT_APP_AGENT_ID=''
REACT_APP_AGENT_ALIAS_ID=''
